--extra-index-url https://download.pytorch.org/whl/cu128

numpy==1.26.4
torch==2.9.0+cu128
torchaudio==2.9.0+cu128
transformers==4.57.3
datasets==3.6.0
accelerate>=1.0.0
omegaconf==2.3.0
hydra-core==1.3.2
soundfile
librosa
tqdm
pytest
jiwer
g2p-en
wandb
pytorch_lightning==2.5.1.post0
torchmetrics
pesq
pystoi
einops
einx
vector_quantize_pytorch
